{% extends "base.html" %}

{% block title %}Registro{% endblock %}

{% block top %}
	   <div class="row" align="center">
			<div class="span12 subtitulo">
				<h3>Proceso de registro</h3>
			</div>
	   </div>
{% endblock %}

{% block content %}

	<div align="center">
		<img src="/{{MEDIA_URL}}/img/Codigo200_400x400.png" height="400" width="400"/>
	    <p>Se ha registrado correctamente,
        se le ha enviado un correo con una url para activar su cuenta.</p>
    </div>
    <br />
    <a href= "/"> Inicio </a>


{% endblock %}
