
.container{
	margin-top: 10px;
}

.titulo {
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #eeeebb;
}

.subtitulo{
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #eeeeee;
}

.msg_correcto{
	border-radius: 5px;
    margin-bottom: 20px;
    background-color: #33aa33;
	color: #ffffff;
}

.msg_incorrecto{
	border-radius: 5px;
    margin-bottom: 20px;
    background-color: #aa3333;
	color: #ffffff;
}

.msg{
	font-size: 1.5em;
}

.actividad{
    border-radius: 5px;
	min-height: 160px;
    background-color: #eeeeee;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.footer{
    border-radius: 5px;
    background-color: #eeeebb;
}

.paddingleft10{
    padding-left: 10px;
}

.alignright{
	text-align: right;
}


.prueba{
	height: 600px;
}

#id_title{
	height: 20px;
	width: 400px;
}

#id_content{
	height: 100px;
	width: 400px;
}

#id_url{
	height: 20px;
	width: 400px;	
}

.post{
	margin-bottom: 20px;
}

.post_title{
	border-radius: 5px;
    /*margin-bottom: 20px;*/
    background-color: #55bb55;
}

.post_title_text{
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 1.5em;
	color: #ffffff;
}

.post_content{
}

.post_url{
}


