{% extends "base.html" %}

{% block title %}Detalle de Actividad{% endblock %}
{% block top %}
		   <div class="row" align="center">
				<div class="span12 subtitulo">
					<h3>{{ actividad.title }}</h3>
				</div>
		   </div>
        {% endblock %}
{% block content %}

{% if actividad %}
<div class="row">
	<div class="span4">
    <p>{{ actividad.descripcion }}</p>
    <p>{{ actividad.place }}</p>
    <p>{{ actividad.date_start }}</p>
    <p>{{ actividad.date_end }}</p>
    <p>{{ actividad.timetable }}</p>
    <p>{{ actividad.age_range }}</p>
    <p>{{ actividad.equipment }}</p>
    <p>{{ actividad.notes }}</p>
    <a href="#">Quiero inscribirme</a>
    <a href="/">Otras actividades</a>
    </div>
</div>
{% else %}
<div class="row">
    <p>No hay detalles para esta actividad.</p>
    <a href="/">Otras actividades</a>
</div>
{% endif %}

{% endblock %}
