{% extends "base.html" %}

{% block title %}Inscripcion de participantes{% endblock %}

{% block top %}
	   <div class="row" align="center">
			<div class="span12 subtitulo">
				<h3>Datos del participante</h3>
			</div>
	   </div>
{% endblock %}

{% block content %}
<div class="row">
    <form action="#" method="post">
     {% csrf_token %}
        <div class="span4">
            <table>
               {{ form.as_table }}     
            </table>
        </div>
</div>
<div class="row">
    <div class="btn span1 offset3">
        <a href= "/"> volver</a>
    </div>
    <div class="span1">
        <input type="submit" />
    </div>
    
</form>
</div>
{% endblock %}

