{% extends "base.html" %}

{% block title %}Información para el padre{% endblock %}

{% block top %}
	   <div class="row" align="center">
			<div class="span12 subtitulo">
				<h3>Panel de control para usuario:  {{ user.username }}</h3>
			</div>
	   </div>
{% endblock %}

{% block content %}

<div class="row">
	<div class="span4">
		<div class="paddingleft10">
			<a href="#">Adjuntar justificante de pago</a>
		</div>
	</div>
    <div class="span4">
		<div class="paddingleft10">
			<a href="#">Inscribir a hijo</a>
		</div>
	</div>
	<div class="span4">
		<div class="paddingleft10">
			<a href="#">Ver actividades del hijo</a>
		</div>
	</div>
	<div class="span4">
		<div class="paddingleft10">
			<a href="#">Modificar datos de la cuenta</a>
		</div>
	</div>
	<div class="span4">
		<div class="paddingleft10">
			<a href="/usuario/logout/">Salir</a>
		</div>
	</div>
</div>
{% endblock %}
