<div class="row">
	<div class="span4">
		<div class="paddingleft10">
			<h4>Añadir trabajo</h4>
			<a href="/pcontrol/#/"><img title="Añadir trabajo" title="pdf" src="{{ MEDIA_URL}}/img/add.png" /></a>
		</div>
	</div>
	<div class="span4">
		<div class="paddingleft10">
			<div class="paddingleft10">
				<h4>Mis trabajos</h4>
			    <a href="#"><img title="Ver mis trabajos" width="64" height="64" src="{{ MEDIA_URL}}/img/learn.png" /></a>
		    </div>
		</div>
	</div>
	<div class="span4">
		<div class="paddingleft10">
			<h4>Imprimir diploma</h4>
			<a href="/pcontrol/#/"><img title="Imprimir diploma" title="pdf" width="64" src="{{ MEDIA_URL}}/img/pdf.png" /></a>
		</div>
	</div>
	<div class="span4">
		<div class="paddingleft10">
			<h4>Modificar datos de la cuenta</h4>
			<a href="#"><img title="Modificar datos de la cuenta" title="pdf" src="{{ MEDIA_URL}}/img/update.png" /></a>
			
		</div>
	</div>
	<div class="span4">
		<div class="paddingleft10">
			<h4>Salir</h4>
			<a href="{% url logout %}"><img title="Salir" title="pdf" src="{{ MEDIA_URL}}/img/exit.png" /></a>
		</div>
	</div>
</div>

