{% extends "base.html" %}

{% block title %}Subiendo fichero de pago{% endblock %}

{% block top %}
	   <div class="row" align="center">
			<div class="span12 subtitulo">
				<h3>Subiendo fichero de pago para usuario:  {{ user.username }}</h3>
			</div>
	   </div>
{% endblock %}

{% block content %}

<div class="row">
	<div class="span4">
		<div class="paddingleft10">
			<h4>Seleccione fichero (PDF)</h4>
			<form action="." method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			{{ form.as_p }}
			<div class="row">
			<div align="left" class="span1">
			    <a class="btn" href= "/pcontrol/"> volver</a>
			</div>
			<div class="span1">
				<input type="submit" class="btn-success" value="enviar" />
			</div>
			</form>
        </div>
		</div>
	</div>
</div>

{% endblock %}
