{% extends "base.html" %}

{% block title %}Encuestas{% endblock %}

{% block top %}
    <div class="row" align="center">
        <div class="span12 subtitulo">
            <h3>Encuestas para el padre</h3>
        </div>
   </div>
{% endblock %}

{% block content %}
    {% for l in lista_encuestas %}
        <div class="row offset3">
            
             <a href="{{ url rellenar_encuesta }}">{{ l.titulo }}</a>
            
        </div>
    {% endfor %}
    <div class=" btn span1 offset3">
				<a href= "/pcontrol/">Volver</a>
	</div>
{% endblock %}
